* {
    margin:0;
    padding:0;
}

body {
    background-color: #666;
}

form {
    padding:1rem;
}

input.value {
    padding:.1rem;
    font-weight:bold;
    font-size:1.5rem;
    text-align:center;
}

input, button {
    width:100%;
    margin:.2rem;
}

button {
    font-weight: bold;
    font-size:1.5rem;
}

.App {
    width:100vw;
}

.btn {
    width:100%;
    padding:1rem;
}

.btn-add {
    background-color:green;
    color:#EEE;
}

.btn-sub {
    background-color:red;
    color:#EEE;
}


.btn-primary:hover, .btn-primary:focus {
    background-color:orange;
    border:1px solid #e2c62E;
}

.App-header {
    background-color: #CCC;
    color:#333;
    text-align: center;
    padding:.1rem;
    height: 2.3rem;
}

.App-header h2 {
    font-size:1rem;
    font-weight: bold;
    margin:.5rem;
}

.App-header h1 {
    margin:0;
    line-height: 1rem;
    font-size: 2rem;
    color:#AAA;
    text-transform: uppercase;
}

.header {
  color: white;
  width: 100vw;
  text-align: center;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #333;

}

.main-container {
    width:100vw;
}

.form {
    width:90%;
    margin:0 auto;
    text-align: center;
}

.balance {
    margin:1rem;
    width:100%;
    text-align: center;
}

.categoryList {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.categoryCard {
    background-color:#DDD;
    margin:.2rem;
    color:grey;
    font-weight: bold;
    padding:.5rem;
}

.cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border:1px solid #DDD;
    border-radius:5px;
    margin:1rem;
    padding:1rem;
    background-color:white;
}

.footer {
    position:fixed;
    bottom:0;
    background-color:#e2c62f;
    text-align:center;
    font-weight: bold;;
    color:white;
    width:100vw;
    padding:.2rem;
    box-shadow: 0 -5px 10px #AAA;
}

.footer p {
    margin-top:1rem;
}
